section {
    background-color: #e0e0e0;
    display: flex;
    height: 80vh;
}

.center-con {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headline-container {
    padding: 50px ;
}

.slogan-line {
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slogan-line h1 {
    margin: 0;
    font-size: 3.2rem;
    font-weight: 800;
    max-width: 700px;
    background: linear-gradient(to right, #3f3fff,#2c93c3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.desc {
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
}

.desc p {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 400;
    max-width: 700px;
    color: rgba(41, 41, 41, 0.6);
}

.social-contacts {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.social-contacts ul {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-weight: 400;
    list-style: none;
    max-width: 700px;
}

.headline-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headline-image img {
    display: block;
    width: 85%;
    border-radius: 5px;
    box-shadow: 5px 4px 6px -1px rgba(0, 0, 0, 0.5);
}

/* 1300px width display flex-direction column */