.hero-section {
    background-color: #e0e0e0;
    display: flex;
    height: 80vh;
}

.center-con {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bubble-left,
.bubble-right {
    position: absolute;
    display: block;
    height: 700px;
    width: 450px;
    opacity: .8;
}

.bubble-left {
    left: -12%;
    top: 1%;
    transform: rotate(-5deg);
}

.bubble-right {
    bottom: -17%;
    right: 13%;
    transform: scaleX(-1);
    transform: rotate(90deg);
}

.headline-container {
    padding: 25px ;
    margin: 25px;
    z-index: 10;
    background-color: rgba(219, 219, 219, 0.1);
	backdrop-filter: blur(2px);
    border-radius: 5px;
    /* box-shadow: 4px 4px 20px -1px rgba(0, 0, 0, 0.2); */
}

.slogan-line {
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slogan-line h1 {
    margin: 0;
    font-size: 3.2rem;
    font-weight: 800;
    max-width: 700px;
    background: linear-gradient(to right, #3f3fff,#2c93c3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.desc {
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
}

.desc p {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 500;
    max-width: 700px;
    color: rgb(32, 32, 32);
}

.social-contacts {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.social-contacts ul {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-weight: 500;
    list-style: none;
    max-width: 700px;
}

.headline-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headline-image img {
    display: block;
    width: 80%;
    border-radius: 5px;
    box-shadow: 4px 4px 5px 1px rgba(33, 68, 125, 0.7);
    z-index: 10;
}

/* 1300px width display flex-direction column */