.showcase-section {
    background-color: #e0e0e0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.showcase-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

.showcase-title h2 {
    margin: 0;
    font-size: 2.2rem;
    font-weight: 800;
    background: linear-gradient(to right, #0f758e,#ad7721);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gallery-container {
    position: relative;
    width: 100%;
    display: flex;
    place-items: center;
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 25px;
    background: linear-gradient(to right, #0f758e, #ad7721);
    white-space: nowrap;
}

.gallery-container::before,
.gallery-container::after {
    background: linear-gradient(to right, #0f758e 0%,
    rgba(255,255,255,0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}

.gallery-container::before {
    left: 0;
    top: 0;
}
.gallery-container::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider-track {
    display: flex;
    animation: 30s slide infinite linear;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.slide {
    margin: 20px;
    display: flex;
    align-items: center;
    perspective: 100px;
}

.slide img {
    transition: transform .5s;
    object-fit: cover;
    
    height: 350px;
    width: 270px;

    box-shadow: 4px 4px 6px -2px rgba(0, 0, 0, 0.5); 
}

.slide img:hover {
    transform: translateZ(20px);
}